/* imports */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variaveis */
:root {
    /* cores */
    --green: #00B860;
    --sec-green: #80DBAF;
    --orange: #FF8413;
    --sec-orange: #FFE6D0;
    --black: #161621;
    --white: #FAFAFA;
    --error: #EB4747;
    --gray-01: #4B4B4B;
    --gray-02: #8B8B90;
    --gray-03: #F9F9F9;
    --hover: #fafafa;
    --greenhover: #058647;
    --orangehover: #e1822a;
    /* font size */
    --fs-01: 1.5rem; /* 24px -- titulos */
    --fs-02: 1.3rem; /* h3 */
    --fs-03: 1rem; /* 16 px*/
    --fs-04: 0.80rem; /* links*/
    /* weight */
    --w-300: 300;
    --w-400: 400;
    --w-500: 500;
    --w-600: 600;
}

/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}
/* section{ padding: 2.56rem 0; } */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
}

img {
    max-width: 100%;
}
/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* gap: 15rem; */
    width: 100%;
    padding: 2rem 10%;
    background-color: #ffff;
    box-shadow: 0 4px 10px #f9f9f948;
}

#btn-menu {
    display: none;
    font-size: 24px;
    color: var(--gray-01);
    cursor: pointer;
    z-index: 1001;
}

.left-links {
    display: flex;
    align-items: center;
    gap: 2.8125rem;
}

.logo {
    color: var(--green) !important;
    font-weight: 900 !important;
    font-size: 1.6rem !important;
}

.left-links .nav-links, .navbar {
    gap: 1.4rem;
}

.left-links a {
    color: var(--gray-01);
    font-size: .80rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.active-page {
    color: var(--orange) !important;
    font-weight: var(--w-500);
}

.navbar a:hover {
    color: var(--orange);
}

.right-links .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.right-links .nav-icon {
    font-size: 1.5rem !important;
    color: var(--sec-green);
    cursor: pointer;
}

.right-links .bx-user-circle {
    font-size: 26px !important;
    color: var(--black) !important;
}

.chat-icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
 mostrar dropdown
.show{display:block;} 
.qtd-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .70rem;
    height: .70rem;
    padding: .48rem;
    margin-right: -10px;
    position: relative;
    right: 10px;
    top: -8px;
    background-color: var(--orange);
    border-radius: 150px;
    font-size: .55rem;
    color: var(--white);
    font-weight: 500;
    border: var(--white) 1px solid;
}

/* dropdown */
.dropdown-usericon{
    position: relative;
    display: inline-block;
    float: right;
}
/* dropdown btn usericon */
.dropbtn-usericon {
    background-color: transparent;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
/* drop content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 12px 14px 0px rgba(113, 113, 113, 0.2);
    border-radius: 12px;
    z-index: 1;
    right: 0;
}
    /* dropdown content links */
    .dropdown-content .drop-link {
        color: var(--black);
        font-size: 14px;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }
    /* link hover */
    .dropdown-content a:hover {
        background-color: var(--sec-orange);
        color: var(--orange);
    }

/* mostrar o menu traves do js*/
.show {
    display: block;
}

/***********/
/* modal de confirmação de seção */
.modal-logout {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin: 15% auto;
    border: 1px solid #888;
    width: 70%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    background: var(--gray-03);
}

.confirm-logout-header, .confirm-logout-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.confirm-logout-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

    .confirm-logout-text h3 {
        color: var(--black);
        font-size: 18px;
        font-weight: 600;
    }
/* .confirm-logout-text p{
    color: var(--gray-02);
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
} */
.confirm-logout-btns {
    gap: 24px;
}

    .confirm-logout-btns .btnlgot {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding: 16px 24px;
        color: var(--white);
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    .confirm-logout-btns #recuseLogout {
        background-color: var(--orange);
    }

        .confirm-logout-btns #recuseLogout:hover {
            background-color: var(--orangehover);
        }

    .confirm-logout-btns #confirmLogout {
        background-color: var(--green);
    }

        .confirm-logout-btns #confirmLogout:hover {
            background-color: var(--greenhover);
        }

/**********************/
/* Padrão */
.section {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 18px 10%;
}

.title-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.title-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.title-right {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
    cursor: pointer;
}

.title {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 500;
}

.subtitle {
    color: var(--gray-02);
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
}

.itens-sections {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}


/* ************************************ */
/* responsividade */
/* responsivo */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
}
/* Ipad */
@media screen and (max-width: 836px) {
    nav {
        padding: 1.2rem 10%;
    }

    #btn-menu {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1001;
    }

    .left-links {
        gap: 1rem;
    }

        .left-links .logo {
            font-size: 1.4rem;
        }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 10px #f9f9f948;
        width: 100%;
    }

        .navbar.active {
            display: flex;
            background-color: #ffff;
        }

        .navbar li {
            padding: 1rem 0;
            text-align: center;
        }

        .navbar a {
            font-size: 1rem;
        }

    .section {
        padding: 0;
    }

    .title-left {
        gap: 8px;
    }

    .title-right {
        font-size: 12px;
    }

    .title {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 670px) {
}

/* Celular */
@media screen and (max-width: 560px) {
    nav {
        gap: 2rem;
    }

    #btn-menu {
        display: block;
        font-size: 24px;
        cursor: pointer;
        z-index: 1001;
    }

    .left-links {
        gap: .5rem;
    }

        .left-links .logo {
            font-size: 1.2rem;
        }

    .right-links .nav-links {
        gap: .75rem;
    }

    .navbar li {
        padding: .5rem 0;
    }

    .section {
        padding: 0;
    }

    .title-left {
        gap: 8px;
    }

    .title-right {
        font-size: 12px;
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        font-family: Urbanist;
        font-size: 14px;
        width: 200px;
    }
}

@media screen and (max-width: 414px) {
}























/* responsivo */
@media screen and (max-width: 991px) {
}
/* Ipad */
@media screen and (max-width: 836px) {
    nav {
        padding: 1.2rem 10%;
    }

    #btn-menu {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1001;
    }

    .left-links {
        gap: 1rem;
    }

        .left-links .logo {
            font-size: 1.4rem;
        }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 10px #f9f9f948;
        width: 100%;
    }

        .navbar.active {
            display: flex;
            background-color: #ffff;
        }

        .navbar li {
            padding: 1rem 0;
            text-align: center;
        }

        .navbar a {
            font-size: 1rem;
        }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 670px) {
}

/* Celular */
@media screen and (max-width: 560px) {
    section {
        padding: 2.56rem 2rem;
    }

    nav {
        gap: 2rem;
    }

    #btn-menu {
        display: block;
        font-size: 24px;
        cursor: pointer;
        z-index: 1001;
    }

    .left-links {
        gap: .5rem;
    }

        .left-links .logo {
            font-size: 1.2rem;
        }

    .right-links .nav-links {
        gap: .75rem;
    }

    nav .search-box {
        height: 2rem;
    }

    .search-box #search-icon {
        height: 2rem;
        border-radius: 0.35rem 0 0 0.35rem;
    }

    .search-box #search {
        border-radius: 0 0.35rem 0.35rem 0;
    }

    nav .search-box::placeholder {
        font-size: .80rem;
    }

    .navbar li {
        padding: .5rem 0;
    }
}

@media screen and (max-width: 414px) {
}
